.grid {
    display: grid;
    place-content: center;
    grid-template-columns: repeat(3, 600px);
    grid-auto-columns: repeat(3, 600px);
    gap: 20px;
  }
  
  .contentCard {
    width: 1130px;
  }