:root {
    --primary: #ff3838 ;
    --gray-1: #d6ca20;
    --gray-2: #fefefe;
    --font-family: "Montserrat", sans-sherif;
    --box-shadow:0 6px 9px 0 rgb(0 0 0 /15%);
    --box-shadow-nav: rgb(0 0 0 / 22%) 0px 2px 18px 0px;
    --text-color: #444;
}